.contener {
  max-width: 700px;
  min-height: 100vh;
  margin: auto;
  background-color: azure;
  padding: 5rem;
}
.contener-page {
  min-height: 100vh;
  margin: auto;
}

.title {
  padding-left: 2em;
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
